.thumbnail-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.thumbnail {
    width: 100px;
    /* Taille de la vignette */
    height: auto;
    /* Hauteur ajust�e automatiquement */
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.thumbnail:hover {
    transform: scale(1.1);
}

.large-image-container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.large-image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    /* Largeur de la barre lat�rale */
    background-color: #f0f0f0;
    padding: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

/* Styles suppl�mentaires pour les listes et les �l�ments de liste */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    cursor: pointer;
}